@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<!-- Main -->
<div>Programs</div>
<div id="programs-landing">
    <ul class="nav program-tabs nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#messages" data-toggle="tab">Messages</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>

<!-- Tab panes -->
    <div class="program-content tab-content"  >
        <div class="tab-pane active" id="home">Test</div>
        <div class="tab-pane" id="profile">Test 2</div>
        <div class="tab-pane" id="messages">Test 3</div>
        <div class="tab-pane" id="settings">Test 4</div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /Main -->