@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    int index = 0;
    var rows = Model.Content.Children.
        Select((x, i) => new { Index = i, Value = x })
        .GroupBy(x => x.Index / 3)
        .Select(x => x.Select(v => v.Value).ToList())
        .ToList();
}

<div class="container">
    @foreach (var row in rows)
    {
        <div class="row">
        @foreach (var child in row)
        {
            <div class="span3 staff-member">  
              <!-- <img src="@Umbraco.TypedMedia(int.Parse(child.GetPropertyValue<string>("image"))).Url" />-->
                <img src="http://placehold.it/500x500" />
                <div class="staff-member-info">
                    <h3>@(child.GetPropertyValue<string>("name"))</h3>
                    <h4><strong>@(child.GetPropertyValue<string>("jobTitle"))</strong></h4>
                    <p>@(child.GetPropertyValue<string>("description"))</p>
                </div>
            </div>
            index++;
        }
        </div>
        <div class="clearfix"></div>
    }
    
</div>