@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<!-- Main -->
@Umbraco.RenderMacro("Carousel")	
	
<div class="container">
    <h2>Quick Links</h2>
</div>

<div class="container" id="quick_links_container">
    <div class="row">
        @Umbraco.RenderMacro("CallToAction")
    </div>
</div>

<div class="container" id="events_container">
    <div class="row">
        @Umbraco.RenderMacro("FeaturedEvents")
    </div>
</div><!-- /container --> 

<!-- /Main -->