@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<!-- Main -->
@Umbraco.RenderMacro("Carousel")	
	
<div class="container">
    <h2>Quick Links</h2>
</div>

<div class="container" id="quick_links_container">

    <div class="row">

        <div class="span3 quick_links" id="do_link">
            <a href="#" class="text-center">Do</a>
        </div>
        <div class="span3 quick_links" id="grow_link">
            <a href="#" class="text-center">Grow</a>
        </div>
        <div class="span3 quick_links" id="go_link">
            <a href="#" class="text-center">Go</a>
        </div>
        <div class="span3 quick_links" id="hear_link">
            <a href="#" class="text-center">Hear</a>
        </div>
    </div>
</div>

<div class="container" id="events_container">
    <div class="row">
        @Umbraco.RenderMacro("FeaturedEvents")
    </div>
</div><!-- /container --> 

@Umbraco.RenderMacro("CallToAction")

<!-- /Main -->