@inherits UmbracoTemplatePage
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Umbraco.Field("title", altFieldAlias: "pageName") | @Umbraco.Field("siteName", recursive: true)</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/color.css" rel="stylesheet">
    <link href="/css/slider.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>
    <div class="wrap">
        <div class="tp-bar">
            <div class="container">
                <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="help"></a> <span class="slogan"> Helping Living Project </span> </div>
                <!-- logo ends -->
                <div class="tp-right">
                    <div class="social-links">
                        <ul>
                            <li><a href="#" class="icon-yahoo tooltip" title="yahoo"></a></li>
                            <li><a href="#" class="icon-facebook tooltip" title="facebook"></a></li>
                            <li><a href="#" class="icon-rss tooltip" title="rss"></a></li>
                            <li><a href="#" class="icon-flickr tooltip" title="flickr"></a></li>
                            <li><a href="#" class="icon-msn tooltip" title="msn"></a></li>
                            <li><a href="#" class="icon-stumbleupon tooltip" title="stumbleupon"></a></li>
                        </ul>
                    </div>
                    <div class="tweets">
                        <ul id="tweet">
                            <li>Here are 10 quality, affordable Zen Cart Templates, perfect for a wide variety of eCommerce needs. <a href="#">http://enva.to/XiCf5F</a></li>
                            <li>perfect for a wide variety of eCommerce needs. <a href="#">http://enva.to/XiCf5F</a></li>
                            <li>affordable Zen Cart Templates, perfect for a wide variety of eCommerce needs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- tp-bar ends -->
        <nav class="menu-bar">
            <div class="container">
                <a href="#" class="tablet-menu"></a>
					
					@Umbraco.RenderMacro("MainNavigation")
					
                <div class="user-controls">
                    <a href="#" class="user-login"></a>
                    <a href="#" class="user-search"></a>
                </div>
            </div>
        </nav><!-- menu-bar ends -->

        @RenderBody()


        <div class="bottom">
            <div class="container">
                <div class="bottom-left">
                    <p>&copy;2013 H.E.L.P. All rights reserved. Theme Designed By <a href="#">Themebazaar</a></p>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Environment</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="#" class="icon-yahoo tooltip" title="yahoo"></a></li>
                        <li><a href="#" class="icon-facebook tooltip" title="facebook"></a></li>
                        <li><a href="#" class="icon-rss tooltip" title="rss"></a></li>
                        <li><a href="#" class="icon-flickr tooltip" title="flickr"></a></li>
                        <li><a href="#" class="icon-msn tooltip" title="msn"></a></li>
                        <li><a href="#" class="icon-stumbleupon tooltip" title="stumbleupon"></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- bottom ends -->
    </div><!-- wrap ends -->

    <div id="dialog-search">
        <div class="heading">Search</div>
        <div class="dialog-block">
            <form method="get" action="index.html" class="user-search-form">
                <input type="text" class="input-block-level" placeholder="Enter Any Keyword">
                <input type="submit" class="btn" value="Search">
            </form>
        </div>
        <!-- dialog-block ends -->
    </div><!-- dialog ends -->
    <div id="dialog-login">
        <div class="heading">User Login</div>
        <div class="dialog-block">
            <form method="get" action="index.html" class="user-login-form">
                <input type="text" class="input-block-level" placeholder="User Login">
                <input type="password" class="input-block-level" placeholder="Password">
                <div class="controls">
                    <label class="help-inline"><input type="checkbox" class="checkbox">Remeber me</label>
                    <input type="submit" class="btn pull-right" value="Sign In">
                </div>
            </form>
        </div><!-- dialog-block ends -->
        <div class="dialog-btm">
            Don't have an account? <a href="#">Create one now!</a>
        </div>
    </div><!-- dialog ends -->
    <div class="dialog-overlay"></div>

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script src="/js/jquery.bxslider.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>