@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    int blogId = Model.Content.AncestorOrSelf(1).Siblings().FirstOrDefault(x => x.DocumentTypeAlias == "BlogLanding").Id;
    var relatedBlogs = Umbraco.TypedContent(blogId).Children.Where(x => x.HasValue("subProgram") && x.GetPropertyValue<int>("subProgram") == Model.Content.Id);
}

@foreach (var blog in relatedBlogs)
{
    <div><a href="@(blog.Url)">@(blog.GetPropertyValue<string>("headline"))</a></div>
    <div>@(blog.GetPropertyValue<string>("teaserText"))</div>
}
