<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1083" key="f1ac1678-dd68-4f74-8ce7-a909882f3f51" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-04-12T10:55:57" updateDate="2014-04-12T11:24:02" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="Home">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Home]]></title>
    <carousel><![CDATA[[
  {
    "": "1085"
  },
  {
    "": "1086"
  },
  {
    "": "1087"
  },
  {
    "": "1088"
  }
]]]></carousel>
  </Home>
</root>